/* Emulate Gap Support with Flexbox and Margins */
.emulated-flex-gap {
    --gap: 12px;
    display: inline-flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
    width: calc(100% + var(--gap));
  }
  
  .emulated-flex-gap > * {
    margin: var(--gap) 0 0 var(--gap);
  }