<!DOCTYPE html>
<html ng-app="helloApp" ng-controller="helloCtrl" lang='{{locale}}'>

<head>
    <title>Sample App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script type="text/javascript" src="Hello.js"></script>
</head>

<body ng-cloak layout="column">
    <md-toolbar layout="row" class="md-toolbar-tools" role="banner">
        <h1>Sample App</h1>
    </md-toolbar>

    <div flex layout="row">

        <md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp" role="navigation">
            Sidenav
        </md-sidenav>

        <md-content flex id="content" role="main">
            <a id="clickMe" ng-click="showCard = !showCard">Click Me</a>
            <md-card ng-if="showCard">
                <md-card-content>
                    <h2>Card headline</h2>
                    <p>Card content</p>
                    <img src="hello.png" />
                </md-card-content>
                <md-card-footer>
                    Card footer
                </md-card-footer>
            </md-card>
        </md-content>


    </div>
    <div>

    </div>

</body>

</html>