@use '@carbon/styles/scss/type'as *;
@use '@carbon/styles/scss/colors'as *;
.popupPanel {
    min-width: 552px;
    margin: 1.5rem .5rem 1rem .5rem;
    // color: $gray-90; // JCH needs to go for light dark mode

    .popupTitle {
        @include type-style("helper-text-02");
    }

    .versionDec {
        @include type-style("helper-text-01");
        // color: $gray-80; // JCH needs to go for light dark mode
        margin-top: .25rem;
    }

    .popupSubTitle {
        @include type-style("helper-text-02");
        margin-top: 1rem;
    }

    .popupPanelDesc {
        @include type-style("helper-text-01");
        // color: $gray-70; // JCH needs to go for light dark mode
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
}