.popupPanel {
  width: 240px;
  height: 335px;
  margin: 23px;
}

.popupPanel a {
  color: #0062ff;
  text-decoration: none;
}

.popupTitle {
  //font-weight: bold;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  color: #252525;
  font-family: "IBM Plex Sans";
//   display: flex;
//   flex-wrap: wrap;
  padding-top: 10px;
}

.versionDec {
    color: #3C3838;
    font-family: "IBM Plex Sans";
    font-size: 11px;
    letter-spacing: 0.13px;
    line-height: 18px;
    margin-top: 3px;
}
.popupSubTitle {
  color: #252525;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.14px;
  line-height: 18px;
  margin-top: 32px;
}

.popupPanelDesc {
  color: #565151;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 14px;
  margin-top: "8px";
}

.links {
  color: #0062ff;
  font-size: 14px;
  letter-spacing: 0.16px;
  line-height: 18px;
}
