{
    "extends": [
        "eslint:recommended",
        "plugin:cypress/recommended"
    ],
    "rules": {
       "eqeqeq": ["error", "always"]
    },
    "env": {
        "node": true,
        "es6": true
    }
}
