@use '@carbon/styles/scss/type'as *;
@use '@carbon/styles/scss/breakpoint'as *;
@use '@carbon/styles/scss/colors'as *;


.checkerViewAware {
    .modalHeader {
        font-size: var(--cds-heading-03-font-size, 1.25rem);
        font-weight: var(--cds-heading-03-font-weight, 400);
        line-height: var(--cds-heading-03-line-height, 1.4);
        letter-spacing: var(--cds-heading-03-letter-spacing, 0);
        color: var(--cds-text-primary, #161616);
    }
    .modalContent {
        font-size: var(--cds-body-01-font-size, 0.875rem);
        font-weight: var(--cds-body-01-font-weight, 400);
        line-height: var(--cds-body-01-line-height, 1.42857);
        letter-spacing: var(--cds-body-01-letter-spacing, 0.16px);
        // padding-right: calc(20% - 2rem);
    }
}