@use '@carbon/styles/scss/type' as *;
@use '@carbon/styles/scss/colors' as *;
@use '@carbon/styles/scss/breakpoint'as *;
@use '@carbon/styles/scss/theme'as *;

.cds--g100 {
    .reportTreeGrid {
        --selected-node-background: #31135e;
        --selected-node-border-color: #be95ff;
    }
}
.reportTreeGridEmptyText {
    @include type-style('body-01');
    margin-top: .5rem;
}
.reportTreeGrid {
    --border-width: 1px;
    --focus-width: 2px;
    $focus-color: $text-primary;
    --selected-node-background: #F6F2FF;
    --selected-node-border-color: #8A3FFC;
    .gridBody, .gridHeader { // row
        @include type-style('label-01');
        > div { // column
            > div { // cell
                border-top: solid $gray-40 var(--border-width);
                border-bottom: solid $gray-40 var(--border-width);
                margin: 0rem -1rem;
                padding: 0.5rem 0rem .5rem 1rem;
                height: 100%;
            }
        }
        > div:first-of-type {
            > div {
                margin-left: 0rem;
                border-left: solid var(--cds-background) var(--border-width);
            }
        }
        > div:last-of-type {
            > div {
                padding-right: 1rem;
                margin-right: 0rem;
                border-right: solid var(--cds-background) var(--border-width);
            }
        }
    }
    .gridBody.selectedNode {
        > div { // column
            > div {
                background-color: var(--selected-node-background);
                border-top: solid var(--selected-node-border-color) var(--border-width);
                border-bottom: solid var(--selected-node-border-color) var(--border-width);
            }
        }
        > div:first-of-type {
            > div {
                border-left: solid var(--selected-node-border-color) var(--border-width);
            }
        }
        > div:last-of-type {
            > div {
                border-right: solid var(--selected-node-border-color) var(--border-width);
            }
        }
    }

    .gridHeader {
        font-weight: 600;
        .gridHeaderCell {
            color: $text-primary;
        }
        > div {
            > div {
                background-color: $layer;
            }
        }

        .cds--checkbox-wrapper {
            display: inline;
            margin-left: 45px;
        }

        .cds--checkbox-label {
            display: inline;
        }
    }
    .gridBody {
        svg {
            vertical-align: bottom;
        }
        .label {
            > div {
                text-indent: -1rem;
                padding-left: 2rem;
            }
        }
        .levelIcon {
            vertical-align: bottom;
        }
        .cds--checkbox-wrapper {
            display: inline;
            margin-left: 4px;
            margin-right: 8px;
        }
        .cds--checkbox-label {
            display: inline;
        }
        .issueCount {
            .gridGroupCell {
                padding-left: 2.5rem;
                text-indent: -1.5rem;
            }
        }
        .gridDataCell {
            text-indent: -1.25rem;
            padding-left: 3.75rem;

            .cds--link {
                display: inline;
            }
        }

    }
    .hideLg {
        @include breakpoint('lg') {
            display: none;
        }
    }
    &:focus-within {
        outline-width: 0px;

        .gridBody.focused {
            > div {
                > div {
                    border-top: solid $focus-color var(--focus-width);
                    border-bottom: solid $focus-color var(--focus-width);
                    padding-top: calc(.5rem - var(--focus-width) + var(--border-width));
                    padding-bottom: calc(.5rem - var(--focus-width) + var(--border-width));
                }
            }
            > div:first-of-type {
                > div {
                    border-left: solid $focus-color var(--focus-width);
                    padding-left: calc(1rem - var(--focus-width) + var(--border-width));
                }
            }
            > div:last-of-type {
                > div {
                    border-right: solid $focus-color var(--focus-width);
                    padding-right: calc(1rem - var(--focus-width) + var(--border-width));
                }
            }
            .label {
                > div {
                    padding-left: calc(2rem - var(--focus-width) + var(--border-width));
                }
            }
            .issueCount {
                .gridGroupCell {
                    padding-left: calc(2.5rem - var(--focus-width) + var(--border-width));
                }
            }
            >div >div.gridDataCell {
                padding-left: calc(3.75rem - var(--focus-width) + var(--border-width));
            }
        }
    }
}