@use '@carbon/styles/scss/type'as *;
@use '@carbon/styles/scss/theme'as *;

.cds--overflow-menu-options[aria-label='stored scans'] {
    min-width: 12rem;
    .cds--overflow-menu-options__btn {
        min-width: 12rem;
    }
}

.scanSection {
    .cds--btn {
        min-height: none;
    }
    
    .storedCount {
        margin-top:.5rem;
        @include type-style("label-01");
    }

    .inlineLoading {
        background-color: $layer;
    }
}

.cds--g100 {
    .scanSection {
        .cds--overflow-menu__wrapper {
            button {
                height: 2rem;
                width: 2rem;
                background-color: #696969;
                min-height: 2rem;
                .cds--btn--md.cds--btn--icon-only {
                    padding-right: 0.5rem;
                    padding-left: 0.5rem;
                }
                svg {
                    .cds--overflow-menu__icon {
                        fill: black;
                    }
                }
            }
        }
    }
}

.cds--white {
    .scanSection {
        .cds--overflow-menu__wrapper {
            .cds--overflow-menu__icon {
                fill: white;
            }
            button {
                height: 2rem;
                width: 2rem;
                background-color: #161616;
                min-height: 2rem;
                .cds--btn--md.cds--btn--icon-only {
                    padding-right: 0.5rem;
                    padding-left: 0.5rem;
                }
                svg {
                    .cds--overflow-menu__icon {
                        fill: white;
                    }
                }
            }
        }
    }
}