@use '@carbon/styles/scss/type'as *;
@use '@carbon/styles/scss/theme'as *;
@use '@carbon/styles/scss/colors' as *;



.cds--overflow-menu-options[aria-label='stored scans'] {
    min-width: 12rem;
    .cds--overflow-menu-options__btn {
        min-width: 12rem;
    }
}



.cds--g100 {
    .scanSection {
        .cds--overflow-menu__wrapper {
            button {
                height: 2rem;
                width: 2rem;
                background-color: #393939; // color of initial menu button and menu items
                // border: 1px solid gray;
                min-height: 2rem;
                .cds--overflow-menu__icon {
                    fill: white;
                }
                .cds--btn--md.cds--btn--icon-only {
                    padding-right: 0.5rem;
                    padding-left: 0.5rem;
                }
            }
        }
        .cds--overflow-menu.cds--overflow-menu--open:hover {
            background-color: #595959; // color of button on hover
        }
        .cds--overflow-menu.cds--overflow-menu--open {
            height: 2rem;
            min-height: 2rem;
            background-color: #393939; // color of secondary button
            .cds--overflow-menu__icon {
                fill: white;
            }
        }
    }
}

.cds--white {
    .scanSection {
        .cds--overflow-menu__wrapper {
            button { height: 2rem;
                width: 2rem;
                min-height: 2rem;
                background-color: #e0e0e0; // color of initial menu button and menu items
                .cds--overflow-menu__icon {
                    fill: black;
                }
                .cds--btn--md.cds--btn--icon-only {
                    padding-right: 0.5rem;
                    padding-left: 0.5rem;
                }
            }
        }
        .cds--overflow-menu.cds--overflow-menu--open:hover {
            background-color: #e0e0e0; // color of button on hover
        }
        .cds--overflow-menu.cds--overflow-menu--open {
            height: 2rem;
            min-height: 2rem;
            background-color: #e0e0e0; // color of secondary button 
            .cds--overflow-menu__icon {
                fill: black;
            }
        }
    }
}

.scanSection {
    .storedCount {
        margin-top:.5rem;
        @include type-style("label-01");
    }

    .inlineLoading {
        background-color: $layer;
    }
    .totalCountDisable {
        @include type-style("label-02");
        margin-top: 10px;
        pointer-events: none;
        
        text-align: right;
        .darkLink {
            color: $text-disabled;
            &:hover {
                color: $gray-20;
                cursor: not-allowed;
            }
        }    
    }
    .totalCountEnable {
        @include type-style("label-02");
        margin-top: 10px;
        pointer-events: auto;
        text-align: right;
        .darkLink {
            color: $text-primary;
            &:hover {
                color: $gray-80;
                cursor: pointer;
            }
        }
    }
}

.scanFilterSection {
    margin: 0rem;
    padding: .125rem 0rem .25rem 0rem;

    .countCol {
        @media (max-width:400px) {
            // position: absolute;
            // top: 1.5rem;
            // left: 0rem;
        }
        white-space: nowrap;
    }
    .reportSecIcon {
        vertical-align: text-bottom;
    }
    
    .reportSecCounts {
        font-weight: 600;
    }
    .summaryBarLabels {
        @include type-style("label-02");
        font-weight: 600;
        display:none;
        @media (min-width:780px) {
            display:inline;
        }
        @media (min-width:1056px) {
            display:none;
        }
        @media (min-width:1500px) {
            display:inline;
        }
    }
    .countCol {
        @media (max-width:400px) {
            // position: absolute;
            // top: 1.5rem;
            // left: 0rem;
        }
        white-space: nowrap;
    }
    .reportSecIcon {
        vertical-align: text-bottom;
    }
    
    .reportSecCounts {
        font-weight: 600;
    }
}


