@use '@carbon/styles/scss/type'as *;
@use '@carbon/styles/scss/breakpoint'as *;
@use '@carbon/styles/scss/colors'as *;

.storedScreen {
    margin: 0rem;
    padding: 1rem 0rem;
    min-height: 100%;
    
    h2 {
        @include type-style("heading-03");
    }

    .StoredReportsTable {
        margin: 0rem -1rem;
    }
}

.cds--modal-content {
    .storedScreen {
        .StoredReportsTable {
            margin: 0rem;
        }
    }
}
