@import '~carbon-components/scss/globals/scss/layout';

.page-header {
  --height: 20rem;
  height: 20rem;
  height: var(--height);
  background: #1E1033;
  color: $inverse-01;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom: 1px solid $inverse-02;
}

.with-tabs {
  height: calc(var(--height) - 3rem);
}

.text {
  @include carbon--type-style('display-01', true);
  margin-bottom: $spacing-07;
  margin-top: auto;
}
