        /*used for background of entire titlebar */
        .titlebarback
        {
                background-repeat: repeat-x;
                background-position: right top;
                background-color: #000;
        }
