$feature-flags: (
  grid-columns-16: true,
);

@import '~carbon-components/scss/globals/scss/styles.scss';
@import '~carbon-components/scss/globals/grid/grid';

#main-content {
    margin-top: 1.5rem;
    @include carbon--type-style('body-long-01');

    .summInfo {
        margin-top: 1rem;
        @include carbon--type-style('body-short-02');
        .prodName {
            @include carbon--type-style('productive-heading-04');
        }
        .time {
            margin-top: 40px;
        }
        .url {
            width: 95%;
            word-break: break-all;
        }
    }
    
    .summReport, .summCard {
        margin: 1rem -1rem 0rem -1rem;
        padding: 1rem;

        background-color: #FFFFFF;

        .title {
            @include carbon--type-style('heading-01');
        }

        @media (min-width: 42rem) {
            margin: 1rem 0rem 0rem -1rem;
        }
    }

    .bx--modal-content {
        padding: 1rem 1rem 0rem 1rem;
        margin-bottom: 0rem;
    }

    .toolHelp {
        background-color: #be95ff;

        .bx--list--unordered {
            margin-top: .5rem;
            margin-left: 1rem;
        }

        .bx--list--ordered {
            margin-top: .5rem;
            margin-left: 1rem;
        }

        > .bx--grid {
            max-width: 100%;
            padding-bottom: 0px;
        }

        .bx--row {
            margin: 0px;
        }

        .toolHead {
            h3 {
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
                padding-top: 8px;
                padding-bottom: 4px;
            }

            p {
                font-size: 12px;
                padding-bottom: 6x;
            }
        }

        .issueLevel {
            font-size: 12px;
            font-weight: 600;
            vertical-align: middle;

            img {
                margin-right: 4px;
                height: 20px;
                vertical-align: -5px;
            }
        }

        .toolTop {
            color:#ffffff;
            background: linear-gradient(to right, #5f3196 , #31175c);
            padding: 1rem ;
            p {
                margin-top: 8px;
                font-size:12px;
                font-family:IBMPlexSans-SemiBold;
            }

            h1 {
                font-size:28px;
                line-height:18px;
                margin-top: 0px;
            }
        }

        .toolLeft {
            @include carbon--type-style('body-long-01');
            padding: 1rem;
            background-color: #E8DAFF;
            color: black;


            .bx--list__item {
                color: black;
                font-size: .875rem;
                line-height: 18px;
            }
            
            h2 {
                @include carbon--type-style('productive-heading-01');

                margin-top: 0rem;
                margin-bottom: .5rem;
            }

            h3 {
                @include carbon--type-style('productive-heading-01');

                margin-top: 0rem;
                margin-bottom: .5rem;
            }

            p {
                @include carbon--type-style('body-long-01');

                margin-top: 0px;
                margin-bottom: 14px;
            }
        }
        .toolMain {
            padding: 0,1rem,1rem,1rem;
            background-color: #f4f4f4;
            
            .level-violation {
                position: absolute;
                font-family:IBMPlexSans-SemiBold;
                font-size:11px;
                color:#ff399b;
            }

            h2 {
                @include carbon--type-style('productive-heading-03');

                margin-top: 2rem;
                margin-bottom: .5rem;
            }

            h3 {
                @include carbon--type-style('productive-heading-03');
                font-size: 16px;
                font-weight: 600;
                margin-top: 14px;
                margin-bottom: .5rem;
                line-height: 20px;
            }
            p {
                @include carbon--type-style('body-long-01');

                margin-top: 0px;
            }

            .issueLevel {
                @include carbon--type-style('heading-01');
                font-weight: 600;
                font-size: 12px;

                img {
                    margin-right: 4px;
                    height: 20px;
                    vertical-align: -5px;
                }
            }
        }
    }
}