@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/colors';

#main-content {
    margin-top: 1.5rem;
    @include type.type-style('body-long-01');

    .summInfo {
        margin-top: 1rem;
        @include type.type-style('body-short-02');
        .prodName {
            @include type.type-style('productive-heading-04');
        }
        .time {
            margin-top: 40px;
        }
        .url {
            width: 95%;
            word-break: break-all;
        }
    }
    
    .summReport, .summCard {
        margin: 1rem -1rem 0rem -1rem;
        padding: 1rem;

        background-color: #FFFFFF;

        .title {
            @include type.type-style('heading-01');
        }

        @media (min-width: 42rem) {
            margin: 1rem 0rem 0rem -1rem;
        }
    }
    .reportTreeGridEmptyText {
    margin-top: 5rem;
}

    .cds--modal-content {
        padding: 1rem 1rem 0rem 1rem;
        margin-bottom: 0rem;
    }

    .toolHelp {
        background-color: #be95ff;

        .cds--list--unordered {
            margin-top: .5rem;
            margin-left: 1rem;
            margin-bottom: 1rem;
            font-size: 12px;
            line-height: 16px;
        }

        .cds--list--ordered {
            margin-top: .5rem;
            margin-left: 1rem;
            margin-bottom: 1rem;
            font-size: 12px;
            line-height: 16px;
        }

        > .cds--grid {
            max-width: 100%;
            padding-bottom: 0px;
        }

        .cds--row {
            margin: 0px;
        }

        .toolHead {
            h3 {
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
                padding-top: 8px;
                padding-bottom: 4px;
            }

            p {
                font-size: 12px;
                padding-bottom: 6x;
            }
        }

        .issueLevel {
            font-size: 12px;
            font-weight: 600;
            vertical-align: middle;

            img {
                margin-right: 4px;
                height: 20px;
                vertical-align: -5px;
            }

            svg {
                margin-right: 4px;
                height: 20px;
                vertical-align: -5px;
            }
        }

        .toolTop {
            color:#ffffff;
            background: linear-gradient(to right, #5f3196 , #31175c);
            padding: 1rem ;
            p {
                margin-top: 8px;
                font-size:12px;
                font-family:IBMPlexSans-SemiBold;
            }

            h1 {
                font-size:28px;
                line-height:18px;
                margin-top: 0px;
            }
        }

        .toolLeft {
            @include type.type-style('body-long-01');
            padding: 1rem;
            background-color: #E8DAFF;
            color: black;


            .cds--list__item {
                color: black;
                font-size: 12px;
                line-height: 16px;
            }
            
            h2 {
                @include type.type-style('productive-heading-01');

                margin-top: 0rem;
                margin-bottom: .5rem;
            }

            h3 {
                @include type.type-style('productive-heading-01');

                margin-top: 0rem;
                margin-bottom: .5rem;
            }

            p {
                @include type.type-style('body-long-01');

                margin-top: 0px;
                margin-bottom: 14px;
            }
        }
        .toolMain {
            padding: 0,1rem,1rem,1rem;
            background-color: #f4f4f4;
            
            .level-violation {
                position: absolute;
                font-family:IBMPlexSans-SemiBold;
                font-size:11px;
                color:#ff399b;
            }

            h2 {
                @include type.type-style('productive-heading-03');

                margin-top: 2rem;
                margin-bottom: .5rem;
            }

            h3 {
                @include type.type-style('productive-heading-03');
                font-size: 16px;
                font-weight: 600;
                margin-top: 14px;
                margin-bottom: .5rem;
                line-height: 20px;
            }
            p {
                @include type.type-style('body-long-01');
                margin-top: 0px;
                font-size: 12px;
                line-height: 16px;
            }

            .issueLevel {
                @include type.type-style('heading-01');
                font-weight: 600;
                font-size: 12px;

                img {
                    margin-right: 4px;
                    height: 20px;
                    vertical-align: -5px;
                }

                svg {
                    margin-right: 4px;
                    height: 20px;
                    vertical-align: -5px;
                }
            }
        }
    }
    .viewMulti {
        float:right;
        width: 230px;
        .cds--list-box {
            max-height: 2rem;
        }   
        .cds--list-box__field {
            background-color: #f4f4f4;
            border: solid #a8a8a8 1px;
        }
    }
    .iconGroup{
        display: flex;
        gap: 0.75rem;
        align-items: center;
    .iconSummary{
        display: flex;
        align-items: center;
        font-weight: 600;
    }
}
.reportGroupFilter{
    display:flex;
    flex-direction:column ;
    float: right;
    align-items: flex-end;
    row-gap: 0.5rem;
}

}