$feature-flags: (
  grid-columns-16: true,
);

@import '~carbon-components/scss/globals/scss/styles.scss';
@import '~carbon-components/scss/globals/grid/grid';

.scoreCard {
    margin: 1rem -1rem 0rem -1rem;
    padding: 1rem;
    min-height: 12rem;

    background-color: #FFFFFF;

    .title {
        @include carbon--type-style('heading-01');
    }

    .score {
        @include carbon--type-style('display-03');
        font-size: 54px;
        margin: .5rem 0rem;
    }

    .description {
        color: #565656;
    }

    @media (min-width: 42rem) {
        margin: 1rem 0rem 0rem -1rem;
    }
}

.bx--modal-container {
    min-height: 80%;
}