@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/breakpoint';

.scoreCard {
    margin: 1rem -1rem 0rem -1rem;
    padding: 1rem;
    min-height: 12rem;

    background-color: #FFFFFF;

    .title {
        @include type.type-style('heading-01');
    }

    .score {
        // @include type.type-style('display-03');
        font-size: 54px;
        margin: .5rem 0rem;
    }

    .description {
        @include type.type-style('helper-text-01');
    }

    @include breakpoint.breakpoint('sm') {
        margin: 1rem 0rem 0rem -1rem;
    }
}

@include breakpoint.breakpoint('sm') {
    .cds--css-grid-column:nth-child(even) .scoreCard {
        margin-right: -1rem;
    }
}
@include breakpoint.breakpoint('md') {
    .cds--css-grid-column:nth-child(even) .scoreCard {
        margin-right: 0rem;
    }
}
.cds--modal-container {
    min-height: 80%;
}