@use '@carbon/styles/scss/type';

.summScoreCard {
    margin: 1rem -1rem 0rem -1rem;
    padding: 1rem;
    min-height: 12rem;
    border: 1px solid #9E63FB;
    background-color:#be95ff ;
    .summaryTitleDetail {
        @include type.type-style('helper-text-01');
    }
    
    .scLeft {
        @include type.type-style('helper-text-01');
    }
 
        

    .title {
        @include type.type-style('heading-02');
    }

    .score {
        // @include type.type-style('display-03');
        @include type.type-style('heading-07');
        font-size: 54px;
        margin: 1rem 0rem;
    }
    @media (min-width: 42rem) {
        margin: 1rem 0rem 0rem -1rem;
    }

    @media (min-width: 66rem) {
        height: 100%;
        margin: 0rem 0rem 0rem -1rem;
    }
}