@use '@carbon/styles/scss/breakpoint'as *;
@use '@carbon/styles/scss/colors'as *;

html,
body {
    height: 100%;
}
#pageapp-root {
    min-height: 100%;
    height: 100%;
    background: linear-gradient(90deg, $white 50%, $gray-10 50%);
    .primaryColumn {
        background-color: $white;
    }
    .secondaryColumn {
        background-color: $gray-10;
    }
}

.secondaryDialog {
    @include breakpoint('lg') {
        display:none;
    }
    .cds--modal-container {
        height:100%;
        .cds--modal-content {
            padding-top: 0rem;

            .helpScreen {
                padding-right: 0rem;
                padding-left: 0rem;
            }
        }
    }

}
