@use '@carbon/styles/scss/type'as *;
@use '@carbon/styles/scss/breakpoint'as *;
@use '@carbon/styles/scss/colors'as *;


.kcmOverview {
    .kcmTitle {
        @include type-style("heading-03");
    }
    .kcmExplain {
        @include type-style("body-01");
    }
    .visualization-guide {
        @include type-style("heading-01");
    }
    
    .path-11-copy {
        box-sizing: border-box;
        height: 375px;
        width: 5px;
        border: 1px solid #CBCDD1;
        transform: scaleX(-1);
    }
        
    .visualization-guide-text {
        @include type-style("label-01");
    }
    
    .svgNotificationDot{
        position: absolute !important;
        overflow: visible !important;
        pointer-events: none !important;
        z-index: 2147483646 !important;
    }
}
