import React from "react";
import { IReportItem, IReport } from '../src/IReport';
// REPLACE_IMPORTS
interface IHelpSwitcherProps {
    report: IReport,
    item: IReportItem;
}

export default class HelpSwitcher extends React.Component<IHelpSwitcherProps> {
    render() {
        return(<React.Fragment>
{/* REPLACE_FILES */}
        </React.Fragment>);
    }
}