@use '@carbon/styles/scss/breakpoint' as *;
@use '@carbon/styles/scss/type' as *;

#devtoolsPanel-root {
    overflow: hidden;
}

.cds--overflow-menu-options {
    width: 12rem;
}

.cds--overflow-menu-options__btn {
    width: 12rem;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    //width: 100%;
    padding-top: .5rem;

    .eaacTitle {
        color: #171717;
        font-size: 12px;
        margin-top: 4px;
        @media only screen and (min-width: 30rem) {
            font-size: 16px;
        }
    }

    h1 {
        color: #171717;
        font-size: 0.75rem;
        font-weight: 600;
        margin-top: 0.25rem;
        line-height: 1rem;
        @media only screen and (min-width: 15rem) {
            font-size: 1rem;
        }
    }

    .bee-logo {
        height: 2rem;
        @media only screen and (min-width: 42rem) {
            right: 0px;
        }
    }

    .rendered-icon svg {
        fill: white;
    }

    

    .headerTools {
        @media only screen and (min-width: 42rem) {
            right: -.5rem;
        }
        button.cds--btn {
            color: black;
            background-color: white;
        }

        button.cds--btn.cds--btn--disabled {
            color: #c6c6c6;
            border-width: 0px;
            background-color: white;
        }

        button.cds--btn.cds--btn--disabled:hover {
            color: #c6c6c6;
            svg {
                fill: #c6c6c6;
            }
        }
    }

    .reportButton {
        button.cds--btn {
            color: black;
            background-color: white;
        }

        button.cds--btn.cds--btn--disabled {
            color: #c6c6c6;
            border-width: 0px;
            background-color: white;
        }

        button.cds--btn.cds--btn--disabled:hover {
            color: #c6c6c6;
            svg {
                fill: #c6c6c6;
            }
        }
    }

    .filterButtons {
        button .cds--assistive-text {
            top: -1.5rem;
        }
        button::before {
            top: 0rem;
        }
        button.cds--btn {
            color: black;
            background-color: white;
        }
    
        button.cds--btn.cds--btn--disabled {
            color: #c6c6c6;
            border-width: 0px;
            background-color: white;
        }
    
        button.cds--btn.cds--btn--disabled:hover {
            color: #c6c6c6;
            svg {
                fill: #c6c6c6;
            }
        }
    }

    .cds--checkbox-wrapper {
        display: inline;
    }

    .countRow{
        display: flex;
        //flex-wrap: wrap;
    }
      
    .countItem {
        margin-bottom: 2px;
        text-align: left;
        flex-grow: 1;
    }

    filterViolationButtonColor {
        fill: rebeccapurple
    }

    .summary {
        margin-top: 10px;

        > div {
            border-top: solid #DCDCDC 1px;
            border-bottom: solid #DCDCDC 1px;
            padding: .5rem 0rem .5rem 1rem;
            overflow:hidden;
            text-overflow: ellipsis;
            white-space:nowrap;
            height: 32px
        }

        .summaryBarCounts {
            color: #252525;
            font-size: 14px;
            font-weight: 600;
        }

        .summaryBarViolationButton {
            height: 24px;
            width: 90px;
            padding: 0;
            border: 0;
            min-height: 0;
            position: relative;
            top: -4px;
            left: 4px;
            color: #252525;
            font-size: 14px;
            font-weight: 600;
        }

        .summaryBarNeedsReviewButton {
            height: 24px;
            width: 115px;
            padding: 0;
            border: 0;
            min-height: 0;
            position: relative;
            top: -4px;
            left: 4px;
            color: #252525;
            font-size: 14px;
            font-weight: 600;
        }

        .summaryBarRecommendationButton {
            height: 24px;
            width: 140px;
            padding: 0;
            border: 0;
            min-height: 0;
            position: relative;
            top: -4px;
            left: 4px;
            color: #252525;
            font-size: 14px;
            font-weight: 600;
        }

        img, svg {
            margin-right: 6px;
            vertical-align: middle;
        }
    }
}

.mainPanel {
    .summaryBarLabels {
        display:none;
        @media only screen and (min-width: 85rem) {
            display:inline;
        }
    }
}
.subPanel {
    .summaryBarLabels {
        display:none;
        @media only screen and (min-width: 45rem) {
            display:inline;
        }
    }
}

.report {
    .itemCol {
        margin-right: -.5rem;
    }
    .reportHeader {
        height: 2rem;
        background-color: #DCE1E7;
        color: #252525;
        font-size: 12px;
        font-weight: 600;
        padding: 10px 0px;
    }

    .itemHeader {
        font-size: 12px;
        min-height: 32px;
        padding: 10px 0px 0px;
    }

    .itemDetail {
        border-bottom: solid #888888 1px;

        > div {
            padding: 10px 1rem;
        } 

        .itemMessage {
            margin-left: 22px;
            text-indent: -22px;

            img, svg {
                margin-right: 6px;
                vertical-align: middle;
            }

            .helpLink {
                color: #000000;
                font-size: 12px;
                text-decoration: underline;
                svg {
                    fill: #0062FF;
                    height: 12px;
                }
            }
        }
    }
    .itemDetail.selected {
        background-color: #BE95FF;
    }
    .itemDetail.selectedChild {
        background-color: #E8DAFF;
    }
    .itemDetail.selectedItem {
        border: solid #000000 2px; // outline border for selected issue
    }
}

.scan-button {
    height: 24px;
    width: 140px
}



.mainPanel {

    .helpHeader {
        background-color: #be95ff;
        padding: 1rem 1rem;

        .helpCpTitle {
            @include type-style('productive-heading-03');
        }

        .helpCpSumm {
            @include type-style('helper-text-01');
        }
    }


    @include breakpoint('max') {
        .toolHelp .cds--grid {
            padding-left: 0rem;
            padding-right: 0rem;
        }
    }

    @include breakpoint('lg') {
        .toolHelp .cds--grid {
            padding-left: 0rem;
            padding-right: 0rem;
        }
    }

    @include breakpoint('md') {
        .toolHelp .cds--grid {
            padding-left: 0rem;
            padding-right: 0rem;
        }
    }

    

    .toolHelp {
        background-color: #be95ff;

        .cds--list--unordered {
            margin-top: .5rem;
            margin-left: 1rem;
            margin-bottom: 1rem;
            font-size: 12px;
            line-height: 16px;
        }

        .cds--list--ordered {
            margin-top: .5rem;
            margin-left: 1rem;
            margin-bottom: 1rem;
            font-size: 12px;
            line-height: 16px;
        }

        > .cds--grid {
            max-width: 100%;
            padding-bottom: 0px;
        }

        .cds--row {
            margin: 0px;
        }

        .toolHead {
            h3 {
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
                padding-top: 8px;
                padding-bottom: 4px;
            }

            p {
                font-size: 12px;
                padding-bottom: 6px;
            }
        }

        .issueLevel {
            font-size: 12px;
            font-weight: 600;
            vertical-align: middle;

            img {
                margin-right: 4px;
                height: 20px;
                vertical-align: -5px;
            }
        }

        .toolTop {
            color:#ffffff;
            background: linear-gradient(to right, #5f3196 , #31175c);
            padding: 1rem ;
            p {
                margin-top: 8px;
                font-size:12px;
                font-family:IBMPlexSans-SemiBold;
            }

            h1 {
                font-size:28px;
                line-height:18px;
                margin-top: 0px;
            }
        }

        .toolLeft {
            @include type-style('body-long-01');
            padding: 1rem;
            background-color: #E8DAFF;
            color: black;


            .cds--list__item {
                color: black;
                font-size: 12px;
                line-height: 16px;
            }
            
            h2 {
                @include type-style('productive-heading-01');

                margin-top: 0rem;
                margin-bottom: .5rem;
            }

            h3 {
                @include type-style('productive-heading-01');

                margin-top: 0rem;
                margin-bottom: .5rem;
            }

            p {
                @include type-style('body-long-01');

                margin-top: 0px;
                margin-bottom: 14px;
            }
        }
        .toolMain {
            padding: 0,1rem,1rem,1rem;
            background-color: #f4f4f4;
            
            .level-violation {
                position: absolute;
                font-family:IBMPlexSans-SemiBold;
                font-size:11px;
                color:#ff399b;
            }

            h2 {
                @include type-style('productive-heading-03');

                margin-top: 2rem;
                margin-bottom: .5rem;
            }

            h3 {
                @include type-style('productive-heading-03');
                font-size: 16px;
                font-weight: 600;
                margin-top: 14px;
                margin-bottom: .5rem;
                line-height: 20px;
            }
            p {
                @include type-style('body-long-01');
                font-size: 12px;
                line-height: 16px;
                margin-top: 0px;
            }

            .issueLevel {
                @include type-style('heading-01');
                font-weight: 600;
                font-size: 12px;

                img {
                    margin-right: 4px;
                    height: 20px;
                    vertical-align: -5px;
                }
            }
        }
    }

    .reportSummary {
        padding: 0rem;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        padding-bottom: 1rem;

        .summaryTitle {
            @include type-style('productive-heading-02');
            color: #171717;
        }

        .summaryTitleDetail {
            @include type-style('helper-text-01');
            color: #000000;
        }

        .reportButton {
            margin-top: 1rem;

            @include breakpoint('lg') {
                margin-top: 0rem;
                position: relative;

                button {
                    position: absolute;
                    right: 0px;
                }
            }
        }

        .tile {
            margin-left: -1rem;
        }
        
        .tile-title {
            @include type-style('productive-heading-01');            
            color: #121619;
        }

        .tile-score {
            @include type-style('heading-07');
            margin-top: 8px;
            color: #161616;
        }

        .tile-description {
            @include type-style('helper-text-01');
            color: #000000;
        }
        
        .tile-description2 {
            @include type-style('helper-text-01');
            color: #000000;
        }

        .score-tile {
            box-sizing: border-box;
            border: solid #8A3FFC 1px;
            background-color: #E8DAFF;
            margin-top: 18px;
            height: 154px
        }

        .status-score-tile {
            box-sizing: border-box;
            border: solid #8A3FFC 1px;
            background-color: #E8DAFF;
            margin-top: 18px;
            height: 154px
        }

        .count-tile {
            box-sizing: border-box;
            background-color: #FFFFFF;
            margin-top: 18px;
            height: 154px
        }
    }

    .reportSplash {
        padding: 0rem;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        padding-bottom: 1rem;

        .title {
            @include type-style('productive-heading-04');
            color: #252525;
        }

        .subtitle {
            @include type-style('productive-heading-03');
            color: #252525;
        }

        .version {
            @include type-style('helper-text-01');
            color: #6F6F6F;
        }

        .description {
            @include type-style('body-long-01');
            margin-top: 33px;
            color: #161616;
        }

        .link {
            color: #377CFC;
          }
    }

    .mainPanelRight {
        //position:fixed;
        height: 100%;
        //left: 50%;
        width: 50%;
        background-color: white;
        top: 1rem;

        .cds--grid {
            padding: 0rem 0rem;
        }

        .fixed-header .headerTools {
            right: 1.5rem;
        }
        .fixed-header .filterButtons {
            left: 8rem;
        }
        .fixed-header .bee-logo {
            right: 2rem;
        }

        .issueList {
            .cds--row {
                margin-left: 0px;
                margin-right: 0px;
                .cds--col-sm-4 {
                    padding-left: 0px;
                    padding-right: 0px;
                    .tabpanel, .cds--tab-content {
                        padding-left: 0px;
                        padding-right: 1rem;
                        .reportContainer {
                            margin-left: -1rem;
                        }            
                    }
                }
            }
        }
    }
}

.subPanel {
    .helpHeader {
        background-color: #be95ff;
        padding: 1rem 1rem;

        .helpCpTitle {
            @include type-style('productive-heading-03');
        }

        .helpCpSumm {
            @include type-style('helper-text-01');
        }
    }


    .toolHelp, .toolHelp .cds--row:nth-child(1) {
        background-color: #be95ff;
    }
    @include breakpoint('max') {
        .toolHelp .cds--grid {
            padding-left: 0rem;
            padding-right: 0rem;
        }
    }

    @include breakpoint('lg') {
        .toolHelp .cds--grid {
            padding-left: 0rem;
            padding-right: 0rem;
        }
    }

    @include breakpoint('md') {
        .toolHelp .cds--grid {
            padding-left: 0rem;
            padding-right: 0rem;
        }
    }

    .toolHelp {
        background-color: #be95ff;

        .cds--list--unordered {
            margin-top: .5rem;
            margin-left: 1rem;
            margin-bottom: 1rem;
            font-size: 12px;
            line-height: 16px;
        }

        .cds--list--ordered {
            margin-top: .5rem;
            margin-left: 1rem;
            margin-bottom: 1rem;
            font-size: 12px;
            line-height: 16px;
        }

        > .cds--grid {
            max-width: 100%;
            padding-bottom: 0px;
        }

        .cds--row {
            margin: 0px;
        }

        .toolHead {
            h3 {
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
                padding-top: 8px;
                padding-bottom: 4px;
            }

            p {
                font-size: 12px;
                padding-bottom: 6px;
            }
        }

        .issueLevel {
            font-size: 12px;
            font-weight: 600;
            vertical-align: middle;

            img {
                margin-right: 4px;
                height: 20px;
                vertical-align: -5px;
            }
        }

        .toolTop {
            color:#ffffff;
            background: linear-gradient(to right, #5f3196 , #31175c);
            padding: 1rem ;
            p {
                margin-top: 8px;
                font-size:12px;
                font-family:IBMPlexSans-SemiBold;
            }

            h1 {
                font-size:28px;
                line-height:18px;
                margin-top: 0px;
            }
        }

        .toolLeft {
            @include type-style('body-long-01');
            padding: 1rem;
            background-color: #E8DAFF;
            color: black;


            .cds--list__item {
                color: black;
                font-size: 12px;
                line-height: 16px;
            }
            
            h2 {
                @include type-style('productive-heading-01');

                margin-top: 0rem;
                margin-bottom: .5rem;
            }

            h3 {
                @include type-style('productive-heading-01');

                margin-top: 0rem;
                margin-bottom: .5rem;
            }

            p {
                @include type-style('body-long-01');
                margin-top: 0px;
                margin-bottom: 12px;
            }
        }
        .toolMain {
            padding: 0,1rem,1rem,1rem;
            background-color: #f4f4f4;
            
            .level-violation {
                position: absolute;
                font-family:IBMPlexSans-SemiBold;
                font-size:11px;
                color:#ff399b;
            }

            h2 {
                @include type-style('productive-heading-03');

                margin-top: 2rem;
                margin-bottom: .5rem;
            }

            h3 {
                @include type-style('productive-heading-03');
                font-size: 16px;
                font-weight: 600;
                margin-top: 14px;
                margin-bottom: .5rem;
                line-height: 20px;
            }
            p {
                @include type-style('body-long-01');
                font-size: 12px;
                line-height: 16px;
                margin-top: 16px;
            }

            .issueLevel {
                @include type-style('heading-01');
                font-weight: 600;
                font-size: 12px;

                img {
                    margin-right: 4px;
                    height: 20px;
                    vertical-align: -5px;
                }
            }
        }
    }
}

main {
    overflow-y: scroll;
    margin-right: 0rem;
    height: 100%;

    >div {
        padding-right: 1rem;
    }
}

.issueList {
    overflow-y: scroll;
    margin-right: 0rem;
    height: 100%;

    .reportContainer {
        margin-left:-2rem;
    }
}

html, body {
    height: 100%;

    #devtoolsPanel-root {
        height: 100%;
    }
}