
.cds--modal {
    z-index: 9500 !important;
}

.cds--grid {
    margin: 0px;
    padding: 0px;
}

.cds--row {
    margin: 0px;
}

.eaacMain {
    margin-top: 8px;
    margin-left: 24px;
}

.eaacTitle {
    height: 24px;
    width: 289px;
    color: #171717;
    font-family: "IBM Plex Sans";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.bee-logo {
    height: 28px;
    width: 28px;
}

.baeTitleTop {
    padding-top: 8px;
    padding-left: 0px;
    padding-right: 16px;
    padding-bottom: 8px;
    border-bottom: solid #ccc 1px;
    background-color: rgba(255, 255, 255, 0.99);
    z-index: 1000;
}
.baeTitleTop .baeTitle {
    font-weight: 600;
    color: #171717;
}

.baeTitleTop .baeTitleMsg {
    color: #4A4A4A;	
    font-size: 14px;	
    line-height: 22px;
}

.baeMain {
    padding: 16px;
    margin-top: 75px;
}

.baeMain .cds--tab-content {
    padding-left: 0;
    padding-right: 0;
}

.tab-content {
    margin-top: 4px;
    padding: 0px;
}

.settingsButtons {
    width: 32px;
    height: 32px;
    padding: 6px;
    min-height: 30px;
}

.tab-padding1a {
    padding: 0px;
    width: 190px;
}

.tab-padding2a {
    padding: 0px;
    width: 210px;
}

.tab-padding3a {
    padding: 0px;
    width: 210px;
}

.issueCountsBorder {
    box-sizing: border-box;
    height: 1px;
    width: 775px;
    border: 1px solid #DCDCDC;
}

.summaryBarCounts {
    height: 18px;
    width: 93px;
    color: #252525;
    font-family: "IBM Plex Sans";
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.01px;
    line-height: 18px;
}


.ScanButton {
    width: 32px;
    height: 32px;
    padding: 6px;
    min-height: 30px;
    background-color: black;
    svg {
      fill: white;
      // width: 14px;
      // height: 14px;
    }
}

.ReportButton {
    height: 32px;
    width: 32px;
    svg {
        fill: white;
    }
}
  
.summaryBar {
    font-family: IBMPlexSans-SemiBold;
    font-size: 14px;
    height: 32px;
    color: "black";
    background: #e0e0e0;
    letter-spacing: 0.13px;
    line-height: 32px;
    text-align: left;
}

.issuesGraphic {
    font-family:IBMPlexSans;
    font-size:11px;
    color:#565656;
    letter-spacing:0.13px;
    line-height:18px;
    text-align:left;
}

.checklist {
    margin-top: 4px;
    margin-left: 24px
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.row-counts {
    height: 18px;
    width: 8px;
    color: #565656;
    font-family: "IBM Plex Sans";
    font-size: 12px;
    letter-spacing: 0.01px;
    line-height: 18px;
}

.row-message {
    height: 18px;
    width: 263px;
    color: #565656;
    font-family: "IBM Plex Sans";
    font-size: 12px;
    letter-spacing: 0.01px;
    line-height: 18px;
  }
