@use '@carbon/styles/scss/breakpoint'as *;
@use '@carbon/styles/scss/colors'as *;

html,
body {
    height: 100%;
}
#pageapp-root {
    min-height: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--cds-background) 50%, $gray-10 50%);
    .primaryColumn {
        background-color: var(--cds-background);
    }

    // .primaryPanelColumn {
        
    //     border-right: solid $gray-40 2px;
       
    // }

    .secondaryColumn {
        // background-color: $gray-10;
        .cds--subgrid {
            >.cds--css-grid-column:first-of-type {
                margin-left: 2rem;
            }
            // >.cds--css-grid-column:last-of-type {
            //     margin-right: 2rem;
            // }
        }
    }
}

.secondaryDialog {
    @include breakpoint('lg') {
        display:none;
    }
    .cds--modal-container {
        height:100%;
        .cds--modal-content {
            padding-top: 0rem;

            .helpScreen {
                padding-right: 0rem;
                padding-left: 0rem;
            }
        }
    }
}
