
@use '@carbon/styles/scss/type';

.report {
    .cds--col-lg-4 {
        @media screen and (min-width: 66rem) {
            flex: 0 0 34% !important;
            max-width: 34% !important;
        }
    }

    .cds--col-lg-2 {
        @media (min-width: 66rem) {
            flex: 0 0 16% !important;
            max-width: 16% !important;
        }
    }

    .cds--col-lg-6 {
        @media (min-width: 66rem) {
            flex: 0 0 50% !important;
            max-width: 50% !important;
        }
    }
    margin: 1rem 0rem -1rem 0rem;
    padding: 0rem;

    .reportHeader {
        background-color: #f4f4f4;
        color: #161616;
        border-top: solid #a8a8a8;
        border-bottom:  solid #a8a8a8;
        margin: 0rem -1rem;
        padding: 0.5rem 0rem .5rem 1rem;
        height: 100%;
        .label {
            @include type.type-style('heading-01');
            font-size: 12px;
        }
    }

    .itemHeader {
        font-size: 12px;
        min-height: 32px;
        padding: 10px 0px 0px;
    }

    .itemDetail {
        border-bottom: solid #888888 1px;

        > div div {
            padding: 10px 1rem;
        } 

        .itemMessage {
            margin-left: 1rem;
            
            img, svg {
                margin-right: 6px;
                vertical-align: middle;
            }
        }
    }
    .itemDetail.selected {
        background-color: #BE95FF;
    }
    .itemDetail.selectedChild {
        background-color: #E8DAFF;
    }

    .helpLink {
        font-size: 12px;
        text-decoration: underline;
        svg {
            fill: #0062FF;
            height: 12px;
        }
    }
}