# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: All branch testing

on: [ pull_request ]

jobs:
###############################################################################
# Engine test
####
  accessibility-checker-engine-test:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
      working-directory: rule-server
    - run: npm run build
      working-directory: rule-server
    - run: node main.js &
      working-directory: rule-server/dist
    - run: sleep 10
      working-directory: rule-server/dist
      
    - run: google-chrome --version
    - run: npm install
      working-directory: accessibility-checker-engine
    - run: npx karma start karmaaction.conf.js --single-run --watch=false
      working-directory: accessibility-checker-engine
    - run: npx mocha ./test/mocha/help/help.test.js
      working-directory: accessibility-checker-engine

###############################################################################
# Node basic test
####
  accessibility-checker-test-basic:
      runs-on: ubuntu-20.04

      strategy:
        matrix:
          node-version: [16.x]

      steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
        working-directory: rule-server
      - run: npm run build
        working-directory: rule-server
      - run: node main.js &
        working-directory: rule-server/dist
      - run: sleep 10
        working-directory: rule-server/dist

      - run: npm install
        working-directory: accessibility-checker-engine
      - run: npm install
        working-directory: report-react
      - run: npm install
        working-directory: accessibility-checker
        
      - run: npm run build
        working-directory: accessibility-checker

      - run: npx mocha -R dot test/mocha/aChecker.Fast/aChecker.Baselines/*.test.js
        working-directory: accessibility-checker
      - run: npx mocha -R dot test/mocha/aChecker.Fast/aChecker.Functions.Defined/*.test.js
        working-directory: accessibility-checker
      - run: npx mocha -R dot test/mocha/aChecker.Fast/aChecker.ObjectStructure/*.test.js
        working-directory: accessibility-checker
      - run: npx mocha -R dot test/mocha/aChecker.Fast/aChecker.Scans/aChecker.assertionCompliance.test.js
        working-directory: accessibility-checker
      - run: npx mocha -R dot test/mocha/aChecker.Fast/aChecker.Scans/aChecker.Content.Puppeteer.test.js
        working-directory: accessibility-checker

###############################################################################
# Node basic test
####
  accessibility-checker-test-basic2:
      runs-on: ubuntu-20.04

      strategy:
        matrix:
          node-version: [16.x]

      steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
        working-directory: rule-server
      - run: npm run build
        working-directory: rule-server
      - run: node main.js &
        working-directory: rule-server/dist
      - run: sleep 10
        working-directory: rule-server/dist

      - run: npm install
        working-directory: accessibility-checker-engine
      - run: npm install
        working-directory: report-react
      - run: npm install
        working-directory: accessibility-checker
        
      - run: npm run build
        working-directory: accessibility-checker

      - run: npx mocha -R dot test/mocha/aChecker.Fast/aChecker.Scans/aChecker.Content.test.js
        working-directory: accessibility-checker
      - run: npx mocha -R dot test/mocha/aChecker.Fast/aChecker.Scans/aChecker.URL.test.js
        working-directory: accessibility-checker

###############################################################################
# Node Selenium test
####
  accessibility-checker-test-selenium:
      runs-on: ubuntu-20.04

      strategy:
        matrix:
          node-version: [16.x]

      steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
        working-directory: rule-server
      - run: npm run build
        working-directory: rule-server
      - run: node main.js &
        working-directory: rule-server/dist
      - run: sleep 10
        working-directory: rule-server/dist

      - run: npm install
        working-directory: accessibility-checker-engine
      - run: npm install
        working-directory: report-react
      - run: npm install
        working-directory: accessibility-checker
        
      - run: npm run build
        working-directory: accessibility-checker

      - run: npx mocha -R dot test/mocha/aChecker.Slow1/aChecker.Scans/**/*.test.js
        working-directory: accessibility-checker
      - run: npx mocha -R dot test/mocha/aChecker.Slow1/aChecker.ObjectStructure/**/*.test.js
        working-directory: accessibility-checker
        

###############################################################################
# Node Playwright test
####
  accessibility-checker-test-playwright:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
      working-directory: rule-server
    - run: npm run build
      working-directory: rule-server
    - run: node main.js &
      working-directory: rule-server/dist
    - run: sleep 10
      working-directory: rule-server/dist

    - run: npm install
      working-directory: accessibility-checker-engine
    - run: npm install
      working-directory: report-react
    - run: npm install
      working-directory: accessibility-checker
    - run: npx playwright install chromium
      working-directory: accessibility-checker
    - run: npm run build
      working-directory: accessibility-checker

    - run: npx playwright test test/mocha/aChecker.Playwright/aChecker.Scans/*.mjs
      working-directory: accessibility-checker
      
###############################################################################
# Karma Tests
####
  karma-accessibility-checker-test:
      runs-on: ubuntu-20.04

      strategy:
        matrix:
          node-version: [16.x]
          test-file: [karma.conf1.js, karma.conf1b.js, karma.conf2.js, karma.conf2b.js, karma.conf3.js]

      steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
        working-directory: rule-server
      - run: npm run build
        working-directory: rule-server
      - run: node main.js &
        working-directory: rule-server/dist
      - run: sleep 10
        working-directory: rule-server/dist

      - run: npm install
        working-directory: accessibility-checker-engine
      - run: npm install
        working-directory: report-react
      - run: npm install
        working-directory: karma-accessibility-checker
      - run: npm run setup
        working-directory: karma-accessibility-checker
      - run: sleep 10
      - run: npm run build
        working-directory: karma-accessibility-checker
      - run: npm run installPlugin
        working-directory: karma-accessibility-checker
      - name: Test using configuration ${{ matrix.test-file }}
        run: npx karma start ${{ matrix.test-file }};
        working-directory: karma-accessibility-checker

###############################################################################
# Cypress test
####
  cypress-checker-test-basic:
      runs-on: ubuntu-20.04

      strategy:
        matrix:
          node-version: [16.x]

      steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
        working-directory: rule-server
      - run: npm run build
        working-directory: rule-server
      - run: node main.js &
        working-directory: rule-server/dist
      - run: sleep 10
        working-directory: rule-server/dist

      - run: npm install
        working-directory: accessibility-checker-engine
      - run: npm install
        working-directory: report-react
      - run: npm install
        working-directory: cypress-accessibility-checker
      - run: npm run build:report
        working-directory: cypress-accessibility-checker        
      - run: npm test
        working-directory: cypress-accessibility-checker

###############################################################################
# Extension Build verification
####
  extension-test:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
      working-directory: report-react
    - run: npm install
      working-directory: accessibility-checker-extension
    - run: npm install
      working-directory: rule-server
    - run: npm run build
      working-directory: rule-server
    - run: sed -i'.old' -e "s/[\"|']use strict[\"|']//g" ./exceljs.js
      working-directory: accessibility-checker-extension/node_modules/exceljs/dist
    - run: sed -i'.old' -e "s/[\"|']use strict[\"|']//g" ./exceljs.min.js
      working-directory: accessibility-checker-extension/node_modules/exceljs/dist
    - run: cp -f ./manifest_Chrome.json ./src/manifest.json
      working-directory: accessibility-checker-extension
    - run: npm run package:browser
      working-directory: accessibility-checker-extension
    - name: Upload packed extension
      uses: actions/upload-artifact@v1
      with:
        name: accessibility-checker-extension for Chrome
        path: accessibility-checker-extension/package/accessibility-checker-extension.zip
    - run: cp -f ./manifest_Firefox.json ./src/manifest.json
      working-directory: accessibility-checker-extension
    - run: npm run package:browser
      working-directory: accessibility-checker-extension
    - name: Upload packed extension
      uses: actions/upload-artifact@v1
      with:
        name: accessibility-checker-extension for Firefox
        path: accessibility-checker-extension/package/accessibility-checker-extension.zip

  rule-deploy:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
      working-directory: rule-server
    - run: npm run build
      working-directory: rule-server
    - run: gitactions/publish/rules.sh
      env: 
        BLUEMIX_USERID: apikey
        BLUEMIX_PASS: ${{ secrets.BLUEMIX_PASS }}
        CLOUD_PWD: ${{ secrets.CLOUD_PWD }}
        TRAVIS_BRANCH: sandbox